.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
